footer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-direction: column;
    background-color: rgb(243,244,246);
    padding: 4rem 0;
    margin-top: 4rem;
    
}
footer p{
    color: RGB(107, 114, 128);
    text-align: center;
}
footer ul{
    display: flex;
    gap: 50px;
}
footer ul li{
    list-style-type: none;
    color: rgb(63, 62, 62);
    font-weight: 600;
}
footer ul li:hover{
    color: rgba(63, 62, 62, 0.644);
    cursor: pointer;
}
footer ul li i{
    font-size: 22px;
}
.icon{
    display: flex;
    align-items: center;
    gap: 15px;
}
.icon p{
    letter-spacing: 2px;
    font-weight: 700;
    color: rgb(13,150,127);
}
@media screen and (max-width: 775px){
    footer ul{
        display: none;
    }
    footer p{
        margin-bottom: 2rem;
    }
}