.foods {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
  }
  .food_card {
    width: 100%;
    max-width: 280px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 2rem;
    border-radius: 10px;
    gap: 15px;
  }
  
  .food_card h4 {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .food_card img {
    width: 200px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 3px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: 0.3s ease-in-out;
  }
  .food_card img:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
  .food_card .catagory {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .food_card .catagory button {
    outline: none;
    background: none;
    border: 2px solid rgb(37, 99, 235);
    padding: 0.19rem 0.5rem;
    border-radius: 20px;
    cursor: pointer;
  }
  .food_card .catagory button a{
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    color: rgb(37, 99, 235);;
  }
  .food_card .catagory button:hover {
    font-weight: 700;
    background-color: rgb(37, 99, 235);
    transition: 0.3s linear;
  }
  .food_card .catagory button:hover a{
    color: white;
    transition: 0.3s linear;
  }
  /* Details Page */
  .recipeDetails{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .recipe_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .recipe_container_left{
    width: 400px;
    border-radius: 10px;
    overflow: hidden;
  }
  .recipe_container_left img{
    width: 100%;
    transition: 0.5s ease-in-out;
  }
  .recipe_container_left img:hover{
    scale: 1.2;
    cursor:zoom-in;
    transition: 0.5s ease-in-out;
  }
  .recipe_details{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 2rem;
    box-shadow: 0 0 10px grey;
    margin: 2rem;
    border-radius: 15px;
  }
  .instruction{
    width: 650px; 
    cursor: text;   
  }
  .recipe_container_right{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  ::selection {
    color: white;
    background: rgb(17,24,39);
  }
  summary{
    cursor: pointer;
    font-weight: 700;
  }
  .ingredients p{
    display: flex;
    justify-content: space-between;
    width: 300px;

  }
  /* loader */
  .loader {
    width: 100%;
    height: 4.8px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.15);
    position: relative;
    overflow: hidden;
  }
  .loader::after {
    content: '';  
    width: 0%;
    height: 4.8px;
      width: 100%;
      height: 4.8px;
      display: inline-block;
      background: rgba(255, 255, 255, 0.15);
      position: relative;
      overflow: hidden;
    }
    .loader::after {
      content: '';  
      width: 0%;
      height: 4.8px;
      background-color: rgb(35,84,190);
      font-size: 15px;
      background-size: 1em 1em;
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      animation: animFw 10s ease-in infinite,  barStripe 1s linear infinite;
    }

  
  @keyframes barStripe {
    0% {
      background-position: 1em 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  @keyframes animFw {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }
      